<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://kit.fontawesome.com/d9440c1829.js" crossorigin="anonymous"></script>
</head>
<body>
  <%- include('./partials/sidebar_nav.ejs') %>
  
  <main>
    <header>
      <div class="user_info">
        <p>User: <%= `${user.firstname} ${user.lastname}` %></p>
        <a href="/logout">Logout</a>
      </div>
      <h1><%= title %></h1>
      <a href="update/<%= folder.id %>" style="font-size: .95rem;">Rename folder</a>
      <a href="delete/<%= folder.id %>" onclick="return confirm(`Are you sure you want to delete this folder?`)" >Delete</a>
      <a href="<%= null == folder.parentId ? '/' : `/folder/${folder.parentId}` %>">Back</a>
    </header>
    <br>
    <div class="foldersAndFiles">
      <% if (locals.folder) { %>
        <ul>
          <% folder.folders.forEach((folder) => { %>
            <li>
              <a href="<%= folder.id %>" class="folder">
                &#128448; <%= folder.name %>
              </a>
            </li>
          <% }) %>
          <% folder.files.forEach((file) => { %>
            <li>
              <a href="/file/<%= file.id %>" class="file">
                <%= file.name %>
              </a>
            </li>
          <% }) %>
        </ul>
      <% } %>
    </div>
  </main>
</body>
</html>