<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <%- include('./partials/sidebar_nav.ejs') %>
  
  <main>
    <header>
      <div class="user_info">
        <p>User: <%= `${user.firstname} ${user.lastname}` %></p>
        <a href="/logout">Logout</a>
      </div>
      <h1><%= title %></h1>
      <a href="/upload/<%= folder.id %>">Upload a file</a>
      <a href="/folder/create/<%= folder.id %>">Create a new folder</a>
    </header>
    <br>
    <div class="foldersAndFiles">
      <% if (locals.folder) { %>
        <ul>
          <% folder.folders.forEach((folder) => { %>
            <li>
              <a href="<%= folder.id %>">
                <%= folder.name %>
              </a>
            </li>
          <% }) %>
          <% folder.files.forEach((file) => { %>
            <li>
              <%= file.name + ' file' %>
            </li>
          <% }) %>
        </ul>
      <% } %>
    </div>
  </main>
</body>
</html>