<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <%- include('./partials/sidebar_nav.ejs') %>
  
  <main>
    <header>
      <% if (locals.user) { %>
        <div class="user_info">
          <p>User: <%= `${user.firstname} ${user.lastname}` %></p>
          <a href="/logout">Logout</a>
        </div>
        <div class="header_buttons">
          <a href="/upload">Upload a file</a>
          <a href="/folder/create">Create a folder</a>
        </div>
        <% } else { %>
          <a href="/signup">Sign Up</a>
          <a href="/login">Login</a>
        <% } %>
        <h1><%= title %></h1>
    </header>
    <br>
    <div class="foldersAndFiles">
      <% if (locals.user) { %>
        <ul>
          <% user.folders.forEach((folder) => { %>
            <li>
              <a href="folder/<%= folder.id %>" class="folder">
                <span class="folder_icon">&#128448;</span> <%= folder.name %>
              </a>
            </li>
          <% }) %>
          <% user.files.forEach((file) => { %>
            <li>
              <a href="/file/<%= file.id %>" class="file">
                <%= file.name %>
              </a>
            </li>
          <% }) %>
        </ul>
      <% } %>
    </div>
  </main>
</body>
</html>