<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <%- include('./partials/sidebar_nav.ejs') %>
  
  <main>
    <header>
      <h1><%= title %></h1>
      <% if (locals.user) { %>
        <p>Welcome <%= `${user.firstname} ${user.lastname}` %></p>
        <a href="/logout">Logout</a>
        <a href="/upload">Upload a file</a>
        <a href="/folder/create/<%= folder.id %>">Create a new folder</a>
      <% } else { %>
        <a href="/signup">Sign Up</a>
        <a href="/login">Login</a>
      <% } %>
    </header>
    <br>
    <div class="foldersAndFiles">
      <% if (locals.user) { %>
        <p><%= user.mainFolder.name %>/</p>
        <ul>
          <% user.folders.forEach((folder) => { %>
            <li>
              <%= folder.name %>
            </li>
          <% }) %>
          <% user.files.forEach((file) => { %>
            <li>
              <%= file.name %>
            </li>
          <% }) %>
        </ul>
      <% } %>
    </div>
  </main>
</body>
</html>